@media screen and (max-width : 1000px) {
    p {
        font-size: 0.8rem;
        line-height: 1.7rem;
    }

    .grid-container {
        gap: 1rem;
    }

    .skills-right ul{
        font-size: 0.8rem;
    }
}

@media screen and (max-width : 825px) {
    /*Btn Burger*/
    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line-2 {
        opacity : 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .burger div {
        width: 30px;
        height: 3px;
        background-color: #002147;
        margin: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /*Navigasi*/
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: var(--primaryBackgroundcolor);
        border-left: 1px solid #a9a9a9;
        z-index: 9;
        transform: translateX(100%);
        transition: 0.5 ease-in-out;
    }

    nav ul {
        display: flex;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active {
        transform: translateX(0);
    }

    /*Home Section*/
    #home {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .home-right img {
        width: 75%;
    }

    .home-left {
        text-align: center;
    }

    .home-name {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    /*Skill section*/
    .skills-grid {
        gap: 1rem;
    }

    /*Footer section*/
    .main-cointainer-footer {
        padding: 2rem 0;
    }
}

@media screen and (max-width : 640px) {
    /*Title*/
    .section-title {
        font-size: 1.3rem;
    }

    .pre-title {
        font-size: 0.7rem;
    }
}